<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Downie Safari Extension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>script.js</string>
			</dict>
		</array>
		<key>SFSafariContextMenu</key>
		<array>
			<dict>
				<key>Command</key>
				<string>SendSelectedLink</string>
				<key>Text</key>
				<string>Send Link to Downie</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>SendMP4</string>
				<key>Text</key>
				<string>Send Current Link to Downie [MP4]</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>SendAudio</string>
				<key>Text</key>
				<string>Send Current Link to Downie [Audio]</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>SendPermute</string>
				<key>Text</key>
				<string>Send Current Link to Downie [Permute]</string>
			</dict>
		</array>
		<key>SFSafariToolbarItem</key>
		<dict>
			<key>Action</key>
			<string>Command</string>
			<key>Identifier</key>
			<string>com.charliemonroe.Downie.ToolbarButton</string>
			<key>Image</key>
			<string>Downie_19_Monochrome.pdf</string>
			<key>Label</key>
			<string>Send to Downie</string>
		</dict>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016-2022 Charlie Monroe Software. All rights reserved.</string>
	<key>NSHumanReadableDescription</key>
	<string>Send current link to Downie.</string>
	<key>SFSafariExtensionBundleIdentifiersToUninstall</key>
	<array>
		<string>com.charliemonroe.safari.downie</string>
	</array>
</dict>
</plist>
